# Pandas Data Structures

1. Series (One dimensional labeled homogenious array)
2. DataFrame (Two dimensional labeled heterogeniously tabular structure, adding two series makes a dataframe)
3. Panel (Three dimensional labeled array)

Numpy is used for the implementation of Pandas Data Objects

In [6]:
import pandas as pd

In [7]:
list1 = [2, 4, -8, 0, 'value', True]
list1

[2, 4, -8, 0, 'value', True]

In [9]:
# series is a one-dimensional indexed array
series1 = pd.Series(list1)
series1

0        2
1        4
2       -8
3        0
4    value
5     True
dtype: object

In [10]:
type(series1)

pandas.core.series.Series

In [11]:
series2 = pd.Series([1, 4,-9, 0])
series2

0    1
1    4
2   -9
3    0
dtype: int64

In [12]:
# chaning the index of the series
series3 = pd.Series([1, 4,-9, 0], index = ['a', 'b', 'c', 'd'])
series3

a    1
b    4
c   -9
d    0
dtype: int64

In [13]:
# changing datatype
series3 = pd.Series([1, 4,-9, 0], index = ['a', 'b', 'c', 'd'], dtype = float)
series3

a    1.0
b    4.0
c   -9.0
d    0.0
dtype: float64

In [14]:
# chaning column name
series3 = pd.Series([1, 4,-9, 0], index = ['a', 'b', 'c', 'd'], dtype = float, name = 'Values')
series3

a    1.0
b    4.0
c   -9.0
d    0.0
Name: Values, dtype: float64

In [18]:
# creating series using scaler values

scaler_s = pd.Series(0.5)
scaler_s

0    0.5
dtype: float64

In [19]:
scaler_s = pd.Series(0.5, index  = [1,2,3])
scaler_s

1    0.5
2    0.5
3    0.5
dtype: float64

In [21]:
# creating series using dictionary

dict = pd.Series({'a':1, 'b':2})
dict

a    1
b    2
dtype: int64

In [22]:
# accessing series values

s4 = pd.Series([1,2,3,4])
s4

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
s4[0]

1

In [25]:
# Series Slicing

s4[1:3]

1    2
2    3
dtype: int64

In [26]:
max(s4)

4

In [27]:
min(s4)

1

In [28]:
s4[s4 > 3]

3    4
dtype: int64

In [29]:
s5 = pd.Series([1,2,3,4])
s5

0    1
1    2
2    3
3    4
dtype: int64

In [30]:
s4 + s5

0    2
1    4
2    6
3    8
dtype: int64

In [31]:
s6 = pd.Series([1,2,3,4,5])

s5 + s6

0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
dtype: float64