### Join is a convenient method for combining the columns of two potentially differently-indexed

In [1]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'A': [1,2,3,4],
                   'B': [10,20,30,40]})

df2 = pd.DataFrame({'C': [5,6,7,8],
                   'D': [50,60,70,80]})

display(df1, df2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40

   C   D
0  5  50
1  6  60
2  7  70
3  8  80

In [6]:
df1.join(df2)

   A   B  C   D
0  1  10  5  50
1  2  20  6  60
2  3  30  7  70
3  4  40  8  80