In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('D:\Projects\car_price.csv')
df

,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
0,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
1,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
2,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
3,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
4,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
...,...,...,...,...,...,...,...,...
4795,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4796,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4797,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [5]:
df = pd.read_csv('D:\Projects\car_price.csv', header = 1)
df

,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
0,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
1,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
2,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
3,Audi A1,Sedans,Black,16200,85,Automatic,"Alloy wheels,Sport package,Sport suspension,Vo...",16790
4,Audi A1,Sedans,White,63668,85,Automatic,"Alloy wheels,Sport package,Sport seats,Sport s...",15090
...,...,...,...,...,...,...,...,...
4794,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4795,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4796,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4797,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4798,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [6]:
df = pd.read_csv('D:\Projects\car_price.csv', header = None, prefix = 'Col')
df

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7
0,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
1,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
2,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
3,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
4,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
...,...,...,...,...,...,...,...,...
4796,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4797,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4798,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4800,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980

In [7]:
df = pd.read_csv('D:\Projects\car_price.csv', names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])
df

,A,B,C,D,E,F,G,H
0,make_model,body_type,Body Color,km,hp,Gearing Type,Extras,price
1,Audi A1,Sedans,Black,56013,85,Automatic,"Alloy wheels,Catalytic Converter,Voice Control",15770
2,Audi A1,Sedans,Red,80000,85,Automatic,"Alloy wheels,Sport seats,Sport suspension,Voic...",14500
3,Audi A1,Sedans,Black,83450,85,Automatic,"Alloy wheels,Voice Control",14640
4,Audi A1,Sedans,Brown,73000,85,Automatic,"Alloy wheels,Sport seats,Voice Control",14500
...,...,...,...,...,...,...,...,...
4796,Audi A3,Sedans,White,54,85,Manual,"Alloy wheels,Sport seats,Sport suspension,Voic...",25000
4797,Audi A3,Sedans,White,50,85,Manual,Alloy wheels,24980
4798,Audi A3,Station wagon,Silver,6666,85,Manual,"Alloy wheels,Roof rack",24980
4799,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980
4800,Audi A3,Sedans,Silver,10,85,Manual,"Alloy wheels,Roof rack",24980