1. DataFrame is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows & columns)

In [1]:
import pandas as pd

In [4]:
# creating dataframe using lists

list = [[1,2,3,4], [5,6,7,8], [0,0,0,0]]

df = pd.DataFrame(list)
df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8
2  0  0  0  0

In [8]:
# creating dataframe using dictionary

dict = {'Name': ['Asim', 'Munsif', 'Habib', 'Saad'], 'ID': [24, 25, 26, 27]}

df = pd.DataFrame(dict)
df

     Name  ID
0    Asim  24
1  Munsif  25
2   Habib  26
3    Saad  27

In [10]:
# creating dataframe using list of dictionaries

list1 = [{'a': 1, 'b': 2}, {'a':1, 'b':2, 'c':3}]

df = pd.DataFrame(list1)
df

   a  b    c
0  1  2  NaN
1  1  2  3.0

In [12]:
# creating dataframe using dictionary of series

dict = {'ID': pd.Series([1,2,3,4]), 'SN': pd.Series([99, 23, 34, 53])}

df = pd.DataFrame(dict)
df

   ID  SN
0   1  99
1   2  23
2   3  34
3   4  53