In [9]:
import pandas as pd

In [20]:
df = pd.read_csv('D:\\Projects\\appledata.csv')
df

,Pixel count,Circlarity,Length,WD,Ratio,CP,Radius,Pi,total Area,Center Point,Fruit
0,7.81,0.2,5.0,6.0,0.8:1,18.85,3.0,3.14,28.27,3.0,1.0
1,7.21,0.9,6.0,4.0,1.5:1,12.57,2.0,3.14,12.57,2.0,0.0
2,9.22,0.8,7.0,6.0,1.2:1,18.85,3.0,3.14,28.27,3.0,1.0
3,11.31,0,8.0,8.0,1:1,25.13,4.0,3.14,50.27,4.0,0.0
4,13.45,0.5,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
96,13.45,0.6,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
97,10.00,0.5,8.0,6.0,1.3:1,18.85,3.0,3.14,28.27,3.0,1.0
98,9.43,0.4,5.0,8.0,0.6:1,25.13,4.0,3.14,50.27,4.0,1.0
99,11.66,0.3,6.0,10.0,0.6:1,31.42,5.0,3.14,78.54,5.0,1.0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.replace(to_replace = 'Rural', value = 'Urban')

,Pixel count,Circlarity,Length,WD,Ratio,CP,Radius,Pi,total Area,Center Point,Fruit
0,7.81,0.2,5.0,6.0,0.8:1,18.85,3.0,3.14,28.27,3.0,1.0
1,7.21,0.9,6.0,4.0,1.5:1,12.57,2.0,3.14,12.57,2.0,0.0
2,9.22,0.8,7.0,6.0,1.2:1,18.85,3.0,3.14,28.27,3.0,1.0
3,11.31,0,8.0,8.0,1:1,25.13,4.0,3.14,50.27,4.0,0.0
4,13.45,0.5,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
96,13.45,0.6,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
97,10.00,0.5,8.0,6.0,1.3:1,18.85,3.0,3.14,28.27,3.0,1.0
98,9.43,0.4,5.0,8.0,0.6:1,25.13,4.0,3.14,50.27,4.0,1.0
99,11.66,0.3,6.0,10.0,0.6:1,31.42,5.0,3.14,78.54,5.0,1.0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.replace([1,2,3,4,5,6,7,8,9], 0)

,Pixel count,Circlarity,Length,WD,Ratio,CP,Radius,Pi,total Area,Center Point,Fruit
0,7.81,0.2,0.0,0.0,0.8:1,18.85,0.0,3.14,28.27,0.0,0.0
1,7.21,0.9,0.0,0.0,1.5:1,12.57,0.0,3.14,12.57,0.0,0.0
2,9.22,0.8,0.0,0.0,1.2:1,18.85,0.0,3.14,28.27,0.0,0.0
3,11.31,0,0.0,0.0,1:1,25.13,0.0,3.14,50.27,0.0,0.0
4,13.45,0.5,0.0,10.0,0.9:1,31.42,0.0,3.14,78.54,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
96,13.45,0.6,0.0,10.0,0.9:1,31.42,0.0,3.14,78.54,0.0,0.0
97,10.00,0.5,0.0,0.0,1.3:1,18.85,0.0,3.14,28.27,0.0,0.0
98,9.43,0.4,0.0,0.0,0.6:1,25.13,0.0,3.14,50.27,0.0,0.0
99,11.66,0.3,0.0,10.0,0.6:1,31.42,0.0,3.14,78.54,0.0,0.0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.replace({'Area': 'Rural'}, 'None')

,Pixel count,Circlarity,Length,WD,Ratio,CP,Radius,Pi,total Area,Center Point,Fruit
0,7.81,0.2,5.0,6.0,0.8:1,18.85,3.0,3.14,28.27,3.0,1.0
1,7.21,0.9,6.0,4.0,1.5:1,12.57,2.0,3.14,12.57,2.0,0.0
2,9.22,0.8,7.0,6.0,1.2:1,18.85,3.0,3.14,28.27,3.0,1.0
3,11.31,0,8.0,8.0,1:1,25.13,4.0,3.14,50.27,4.0,0.0
4,13.45,0.5,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
96,13.45,0.6,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
97,10.00,0.5,8.0,6.0,1.3:1,18.85,3.0,3.14,28.27,3.0,1.0
98,9.43,0.4,5.0,8.0,0.6:1,25.13,4.0,3.14,50.27,4.0,1.0
99,11.66,0.3,6.0,10.0,0.6:1,31.42,5.0,3.14,78.54,5.0,1.0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.replace(['A-Za-z'], 0, regex = True)

,Pixel count,Circlarity,Length,WD,Ratio,CP,Radius,Pi,total Area,Center Point,Fruit
0,7.81,0.2,5.0,6.0,0.8:1,18.85,3.0,3.14,28.27,3.0,1.0
1,7.21,0.9,6.0,4.0,1.5:1,12.57,2.0,3.14,12.57,2.0,0.0
2,9.22,0.8,7.0,6.0,1.2:1,18.85,3.0,3.14,28.27,3.0,1.0
3,11.31,0,8.0,8.0,1:1,25.13,4.0,3.14,50.27,4.0,0.0
4,13.45,0.5,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
96,13.45,0.6,9.0,10.0,0.9:1,31.42,5.0,3.14,78.54,5.0,1.0
97,10.00,0.5,8.0,6.0,1.3:1,18.85,3.0,3.14,28.27,3.0,1.0
98,9.43,0.4,5.0,8.0,0.6:1,25.13,4.0,3.14,50.27,4.0,1.0
99,11.66,0.3,6.0,10.0,0.6:1,31.42,5.0,3.14,78.54,5.0,1.0
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN